body {
  font-family: sans-serif;
  line-height: 1.4em;
}

h1 {
  line-height: 1.3em;
}

td, th {
  padding: 0.5em;
}

tfoot {
  font-weight: bold;
}

input, button {
  font-size: inherit;
}

/*
  Hide ng-cloak, so that there isn't a flicker...
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.hilight {
  border: 1px solid red;
  padding: 1em;
}

/* Modal stuff */
.modal {
  border: 1px solid #CCC;
  padding: 2em;
  box-shadow: 0 0 1em #CCC;
  max-width: 600px;
  margin: auto;
}
