body {
  font-family: sans-serif;
  line-height: 1.4em;
  padding: 2em;
}

h1 {
  line-height: 1.3em;
}

td, th {
  padding: 0.5em;
}

tfoot {
  font-weight: bold;
}

input, button {
  font-size: inherit;
}

/* Image preview stuff */
.img-label {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 1em;
  background: #087fb2;
  color: white;
}

.img-label__text {
  position: relative;
  z-index: 2;
}

.img-selector {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 0;
}

/*
  Hide ng-cloak, so that there isn't a flicker...
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.hilight {
  border: 1px solid red;
  padding: 1em;
}

/* Modal stuff */
.modal {
  border: 1px solid #CCC;
  padding: 2em;
  box-shadow: 0 0 1em #CCC;
  max-width: 600px;
  margin: auto;
  background: white;
  color: #444;
}
